<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.potatobill.potatoreminder"
    android:versionCode="12"
    android:versionName="1.2.1" >

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> 
		
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
		android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
			android:launchMode="singleTask" >
        </activity>
		<activity
            android:name=".NewActivity"
            android:label="@string/title_activity_new" >
        </activity>
		<activity
            android:name=".NewImageActivity"
            android:label="@string/title_activity_new" >
        </activity>
		<activity
            android:name=".StudyActivity"
            android:label="@string/title_activity_study" >
        </activity>
		<activity
            android:name=".EditPointActivity"
            android:label="@string/title_activity_edit" >
        </activity>
		<activity
            android:name=".EditImageActivity"
            android:label="@string/title_activity_edit" >
        </activity>
		<activity
            android:name=".EditListActivity"
            android:label="@string/title_activity_edit" >
        </activity>
		<activity
            android:name=".EditNodeActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".MoveActivity"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name=".BrowseActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
